<h1><%= t 'word_cloud' %></h1>

<dl class="content word-clouds full-width">
<%- @books.each do |book| %>
  <dt class="book"><%= book.name %></dt>
  <dd class="word-cloud-for-book">
    <%= raw word_cloud(book.words_by_popularity(current_version)) %>
  </dd>
<%- end %>
</dl>
