<h1><%= t "select_a_book_chapter" %></h1>

<ul class="content chapters">
  <%- @books.each do |book| %>
    <li><%= book.name %>
      <ul>
        <%- book.chapters.sort_by(&:number).each do |chapter| %>
          <li><a href="<%= chapter_read_path(book.number, chapter.number) %>"><%= chapter.number %></a></li>
        <%- end %>
      </ul>
    </li>
  <%- end %>
</ul>
