body {
  max-width: 1000px;
  margin: 0 auto;
}

nav ul li {
  float: left;
  list-style: none;
  margin-right: 20px;
}

nav {
  clear: both;
}

h1 {
  clear: both;
  float: left;
  margin-top: 20px;
}
sup {
  vertical-align: baseline;
  position: relative;
  top: -.5em;
}
.content {
  clear: both;
  float: left;
}


// /
.chapters {
  clear: both;
}
.chapters >li {
  clear: both;
  float: left;
}
.chapters >li >ul {
  clear: both;
  list-style: none;
  // float: left;
}
.chapters li ul li {
  float: left;
}
.chapters li ul li a {
  display: inline-block;
  padding: 3px;
  border: 1px solid black;
  min-width: 18px;
  text-align: center;
  text-decoration: none;
}
.chapters li ul li a:hover {
  background: yellow;
}

// /book/6/chapters/22/read
.chapter {
  line-height: 1.5em;
}


// /word-count
.word-clouds .book {
  float: left;
  clear: both;
}
.word-cloud-for-book {
  clear: both;
}

.word-cloud {
  clear: both;
  max-width: 500px;
}

.word-cloud li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}
.word-cloud .x-small {
  font-size: 1em;
  font-weight: 100;
}
.word-cloud .small {
  font-size: 1.5em;
  font-weight: 200;
}
.word-cloud .medium {
  font-size: 2em;
  font-weight: 300;
}
.word-cloud .large {
  font-size: 2.5em;
  font-weight: 500;
}
.word-cloud .x-large {
  font-size: 3em;
  font-weight: 700;
}
.word-cloud .xx-large {
  font-size: 3.5em;
  font-weight: 900;
}
