/*

TABLE OF CONTENTS:

general
useful classes
url-based:
  / (reader)
  /book/6/chapters/22/read
  /tags/index
  /word-count

*/

$background_color: #E8E8E8;
$link_color: #333333;
$dark_gray: #343434;
$gray: #9E9E9E;
$pale_gray: #cccccc;

// source: http://stackoverflow.com/a/7354648/242404
$mobile-screen: 690px;
$tablet-screen: 995px;
$desktop-screen: 1440px;

$screen: "only screen";
$mobile: "only screen and (max-width:#{$mobile-screen})";
$tablet: "only screen and (min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen})";
$desktop: "only screen and (min-width:#{$tablet-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";


@mixin border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin nice-underlines($bg_color: #ffffff) {
  background-image: linear-gradient(to top,$bg_color 0%,$bg_color 49%,#000 50%,#000 100%);
  background-size: 2px 2px;
  background-repeat: repeat-x;
  background-position: 0 97.5%;
  text-shadow: 0.03em 0 $bg_color,-0.03em 0 $bg_color,0.05em 0 $bg_color,-0.05em 0 $bg_color,0.09em 0 $bg_color,-0.075em 0 $bg_color;
  text-decoration: none;
}

// useful classes

.full-width {
  width: 100%;
}
.one-third-column {
  width: 33%;
  float: left;
}

// general

body {
  max-width: 1000px;
  margin: 0 auto !important;
  padding: 0 10px;
  background: $background_color;
}

.content li {
  list-style: none;
}

nav {
  clear: both;
}
nav ul {
  padding: 0;
}
nav ul li {
  float: left;
  list-style: none;
  margin-right: 17px;
}
nav ul li a {
  color: $link_color;
  @include nice-underlines($background_color);
}

h1 {
  clear: both;
  float: left;
  margin-top: 20px;
}
sup {
  vertical-align: baseline;
  position: relative;
  top: -.5em;
  a {
    text-decoration: none;
    &:hover {
      background: yellow;
      color: black;
    }
  }
}
.content {
  padding: 10px;
  clear: both;
  float: left;
  background: white;
  @include border-box;
}

// /
.chapters {
  clear: both;
}
.chapters >li {
  clear: both;
  float: left;
  list-style: none;
  margin-bottom: 1rem;
  font-weight: bold;
}
.chapters >li >ul {
  clear: both;
  list-style: none;
  // float: left;
  margin-top: 0.3rem;
}
.chapters li ul li {
  float: left;
}
.chapters li ul li a {
  line-height: 27px;
  padding-top: 1px;
  font-weight: normal;
  display: inline-block;
  background: $dark_gray;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  min-width: 34px;
  text-align: center;
  text-decoration: none;
  @include border-box;
  &:hover {
    background: $pale_gray;
    color: black;
  }
}

// READER
// /book/6/chapters/22/read

:target {
  background: black;
  color: white;
}

.chapter {
  line-height: 1.5em;
}
.chapter-nav {
  a {
    color: $link_color;
    text-decoration: none;
    &:hover {
      @include nice-underlines(#ffffff);
    }
  }
}

.content.reader {
  width: 68%;
  float: left;
}

// TOOLBOX

.selected {
  background: yellow;
}

.excerpt-edit {
  width: 30%;
  height: 95vh;
  padding: 10px;
  float: right;
  // overflow-x: hidden;
  @include border-box;
  @media #{$tablet} {
    overflow-y: scroll;
  }
  h2 {
    margin-top: 0;
  }
  fieldset {
    margin-bottom: 1rem;
    border: 1px dotted $gray;
  }
}

.excerpt-edit__tags {
  width: 240px;
}

.excerpt-start, .excerpt-end {
  font-weight: bold;
  background: black;
  padding: 0 1px;
  text-decoration: none;
}
.chosen-container {
  width: 270px;
}

// /tags/index

.letter-of-tags {
  h2 {
    margin-bottom: 0.3rem;
  }
}
.tags-list__first {
  min-width: 200px;
}
.tags-list__tools {
  a {
    color: $pale_gray;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}


// /word-count

.word-clouds .book {
  float: left;
  clear: both;
  margin-top: 2rem;
}
.word-cloud-for-book {
  clear: both;
}

.word-cloud {
  clear: both;
  max-width: 600px;
  text-align: center;
}

.word-cloud li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  line-height: 2rem;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.word-cloud a {
  text-decoration: none;
}
.word-cloud .x-small {
  font-size: 1em;
  font-weight: 200;
}
.word-cloud .small {
  font-size: 1.5em;
  font-weight: 300;
}
.word-cloud .medium {
  font-size: 2em;
  font-weight: 400;
}
.word-cloud .large {
  font-size: 2.5em;
  font-weight: 500;
}
.word-cloud .x-large {
  font-size: 3em;
  font-weight: 700;
}
.word-cloud .xx-large {
  font-size: 3.5em;
  font-weight: 900;
}
