<!DOCTYPE html>
<html>
<head>
  <title>Bibleapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li><a href="/">Books / Chapters</a></li>
    <li><a href="/tags/index">Tags</a></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
